aiohttp
aiosignal
async-timeout
attrs
backcall
certifi
charset-normalizer
cmake
datasets
decorator
dill
evaluate
filelock
frozenlist
fsspec
huggingface-hub
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
jupyter-client
jupyter-core
lit
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pyarrow
Pygments
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
responses
scikit-learn
scipy
seqeval
six
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
triton
typing-extensions
tzdata
urllib3
wcwidth
xxhash
yarl
